@mixin tableCustom() {
	.ant-table {
		thead th {
			background-color: #8bd4f2 !important;
			font-weight: 600 !important;
			padding-top: 0.5rem !important;
			padding-bottom: 0.5rem !important;
		}
		tbody tr td{
            padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			font-size: 0.875rem;
		}
	}
}
