.react-datepicker__input-container {
    .datepicker--custom {
        text-align: center;
        width: 6.875rem !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .datepicker--custom:hover {
        cursor: pointer;
    }
}

.react-datepicker__navigation{
   top: 0.75rem !important;
}

