@import 'sass/colors';

.dropdown-select-col {
	position: relative;

	.dropdown {
		position: absolute;
		z-index: 10;
		background-color: #fff;
		right: 0;
		top: 2rem;
		box-shadow: 0 0.46875rem 2.1875rem rgba(31, 10, 6, 0.03),
			0 0.9375rem 1.40625rem rgba(31, 10, 6, 0.03),
			0 0.25rem 0.53125rem rgba(31, 10, 6, 0.05),
			0 0.125rem 0.1875rem rgba(31, 10, 6, 0.03);
		border: 1px solid #fff;
		border-radius: 0.25rem;
		padding:1rem
	}
}
