@import 'sass/colors';
@import 'sass/mixins';

.modal-info-invoice,.modal-info-returns {
    .field_info {
        border-bottom: 1px solid #eee;
        padding: 0.5rem 0;

        span:first-child {
            display: inline-block;
            width: 7rem;
        }
        span:last-child {
            font-weight: 600;
        }
    }

    .field_info:first-child {
        padding: 0 0 0.5rem 0;
    }

    .field_info:last-child {
        border: 0;
    }

    .info-note {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .info-note > div {
        div:first-child {
            border-bottom: 1px solid #eee;
            padding: 0 0 0.5rem 0;
        }
    }

    @include tableCustom();
}
