.screen-report {
	background-color: #909090;
	border: #909090 solid 1px;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem 1rem 1rem;
	height: 100%;
	overflow: auto;

	.toolbar {
		i {
			color: #fff;
			font-size: 1.125rem;
			font-weight: 500;
			transition: all 0.2s ease-in-out;
			text-shadow: 0 0 8px #555050;
		}

		i:hover {
			cursor: pointer;
		}

		.input-page {
			width: 2.25rem;
			text-align: center;
			border: 1px solid #fff;
			border-radius: 0.25rem;
			outline: 0;
			box-shadow: none;
		}
	}

	.content {
		background-color: #fff;
		width: 794px;
		height: 1123px;
		margin: 0 auto;
		margin-top: 1rem;
		border-radius: 0.125rem;
		.wrapper {
			padding: 0.75rem 0.75rem;
			position: relative;
			.day-created {
				position: absolute;
				span {
					font-size: 0.75rem;
				}
			}

			h3 {
				margin: 0;
				font-weight: 600;
			}

			.ant-table {
				thead th {
					background-color:#b2e8ff;
					font-weight: 600;
					font-size: 0.75rem;
				}
			}
		}
	}
}
