@import 'sass/colors';

.ant-select {
	border-radius: 0 !important;
	border-bottom: 1px solid #bfbfbf !important;
}

.ant-select-focused {
	border-bottom: 1px solid $color-green--dark !important;
}

.autocomplete-customer {
	padding-left: 0.75rem !important;
	padding-right: 0.75rem !important;
}

.search-customer {
	position: realative;

	.prefix {
		position: absolute;
		top: 0.25rem;
		left: 0.25rem;
	}

	.modal-customer {
		position: absolute;
		top: 0;
		right: 0;
	}
}
